u-layout-page.u-page-contributions(:meta="false")
  template(slot="main")
    div.row.reverse.categories-list
      q-select.col-4(
        ref="categoryList"
        v-model="category"
        :options="categoryOptions"
        hide-underline
        @input="triggerCategoryRoute"
        v-if="isMounted"
      )
    u-contribution-list(orderBy="new", :category="category", v-if="isMounted", :author="author")







