@import "~variables"
.u-contribution-list {
  .q-list.posts-list {
    padding 0
    .q-item {
      border-radius 4px
      background white !important
      border 1px solid $grey-4
      margin-bottom 15px
      padding-top 15px
      padding-bottom 15px
    }
  }
}
