@import "~variables"

.project-banner {
  .q-layout-page{
    min-height auto !important
  }

  .project-image {
    width 100%
    height 376px
  }

  .project-description {
    padding 0 20px
    .project-avatar {
      height 45px
      width 45px
      border-radius 50%
    }
    .project-name {
      padding 0px 10px
    }
    .project-owner-avatar {
      height 20px
      width 20px
      border-radius 50%
    }

    .project-created-by {
      padding 0 5px
    }

    .project-separator {
      padding-bottom 10px
      border-bottom 1px solid $grey-4
    }

    .project-stats {
      .q-headline {
        font-size 30px
      }
      .row {
        padding 10px 0
      }
    }

    .project-buttons {
      .q-btn {
        max-width 48%

        i {
          padding-right 10px
        }
      }
    }
  }
}

.q-tabs .q-tabs-bar {
  border-color $primary !important
}
