@import "~variables"

.u-page-contributions {
  .categories-list {
    padding 10px 0
  }

  .q-select, .q-select:hover {
    background-color #fff
    padding 5px
    border 1px solid $grey-4 !important
  }

  .q-list.user-list {
    padding 0
    margin-top 22px
    .q-item {
      background white !important
    }
  }
}
