@import "~variables"

.u-page-follow {

  .q-select, .q-select:hover {
    background-color #fff
    padding 5px
    border 1px solid $grey-4 !important
  }

  .q-page-layout.u-page {
    padding 0 !important
  }

  .q-list.user-list {
    padding 0
    .q-item {
      background white !important
    }
  }
}
