div
  q-page-container.jumbotron
    div.container.container-page
      // route change transition (animation).
      transition(:duration="{ enter: 100, leave: 100 }", enter-active-class="animated fadeIn", leave-active-class="animated fadeOut")
        div.u-homepage.row.justify-between.fit.u-page-index
          // page right side (main content)
          div.u-homepage-main.flex.fit.col-md-12.col-xs-12
            // make scrollable
            // q-scroll-area(style="width: 100%; height: 100vh")
            // wrap on a page.
            q-page.u-homepage
              // main content slot.
              slot(name="jumbotron")
  q-page-container
    div.container.container-page.container-large
      // route change transition (animation).
      transition(:duration="{ enter: 100, leave: 100 }", enter-active-class="animated fadeIn", leave-active-class="animated fadeOut")
        div.u-homepage.row.justify-between.fit.u-page-index
          // page right side (main content)
          div.u-homepage-main.flex.fit.col-md-12.col-xs-12
            // make scrollable
            // q-scroll-area(style="width: 100%; height: 100vh")
            // wrap on a page.
            q-page.u-homepage
              // main content slot.
              slot(name="main")




