// variables import.
@import "~variables"
@import "~quasar-framework/src/css/core/helpers.styl"
@import "~quasar-framework/src/css/core/flex.styl"
@import "~quasar-framework/src/css/core/size.styl"
@import "~quasar-framework/src/css/core/mouse.styl"

.jumbotron {
  width 100% !important
  height 60vh !important
  background-color #fff
  border-bottom 2px solid $grey-11
}

.fit-60 {
  max-height calc(60vh - 60px) !important
}

.container-large {
  height auto !important
}

.custom-padding {
  padding-top 15px !important
}

.u-homepage {
  .u-homepage {
    height auto
    min-height auto !important
    overflow auto
  }

  .u-homepage-main {
    .q-layout-page {
      min-height auto !important
      height auto
    }
  }

  .u-homepage-jumbotron {
    overflow auto
    .q-layout-page {
      padding 18px 0
    }
  }
}
