// variables import.
@import "~variables"
@import "~quasar-framework/src/css/core/helpers.styl"
@import "~quasar-framework/src/css/core/flex.styl"
@import "~quasar-framework/src/css/core/size.styl"
@import "~quasar-framework/src/css/core/mouse.styl"

.jumbotron {
  width 100% !important
  height 60vh !important
  background-color #fff
  border-bottom 2px solid $grey-11
}

.u-homepage {
  .u-homepage {
    height 100vh
    overflow auto
  }

  .u-brand {

    margin-bottom 30px
    img {
      margin 0
    }
  }

  .u-homepage-main {
    .q-layout-page {
      padding: 18px 0
    }
  }
}
