// contributions index page
u-layout-page.u-page-project-search

  template(slot="meta")
    q-collapsible.u-filters(:opened="$q.platform.is.desktop", icon="mdi-filter" label="Filters")
      div.row.row-filters

        div.col-md-12
          q-checkbox(v-model="openSource", label="Open Source")

  template(slot="main")
    div.row.justify-center
      q-field.u-search-field.items-center(orientation="vertical", icon="mdi-magnify")
        q-input(v-model.trim="search" placeholder="e.g d.tube", @keyup="searchProjects")
    q-infinite-scroll(:handler="loadProjectsScroll", ref="infiniteScroll")
      q-list.row.q-pa-sm(no-border)
        q-card-media.shadow-4.col-12.q-mb-md.q-pr-sm(v-for="project in projects")
          img.col-3(:src="getProjectImage(project)")

          div.col-9.row.column.justify-between
            q-card-title {{project.name}}
              span.row.items-center.justify-start(slot="subtitle")
                img.project-owner-avatar(:src="'https://steemitimages.com/u/' + project.creator + '/avatar'")
                span.project-created-by created by
                span.q-body-1.text-black {{project.creator}}
            q-card-main
              p {{project.description}}
            q-card-actions.justify-end
              q-btn(color="primary" @click="goToProjectPage(project.id)") Contribute

      // spinner for infinite scroll loading.
      q-spinner-dots(slot="message", :size="40", style="margin: 0 auto; top: 100px")






