div(v-if="isMounted")
  div.header
    q-parallax(:src="coverImage", :height="300")
      q-page-container.container
        div.row
          img(:src="'https://steemitimages.com/u/' + userData.steemData.name + '/avatar'").avatar
          div.user-info.column.justify-center
            div.row.items-center
              span.text-white {{ userData.steemData._name || userData.steemData.name }}
              span(v-if="userData.steemData._reputation").row.user-reputation.content-center.items-center {{ userData.steemData._reputation }}
              q-btn.q-ml-md(color="primary", dense, @click="followUser(userData.steemData.name)", :disabled="isOwnProfile") Follow
            span.text-grey-5.text-weight-light {{ '@' + userData.steemData.name }}
            span.text-white
              a(:href="website")
    div#u-profile-tabs.container.row
      q-tabs.offset-3.col-9(color="black" inverted v-if="isMounted")
        q-route-tab(:to="`/@${userData.steemData.name}/contributions`", name="tab-contributions", append, label="Contributions", slot="title", default)
        // q-route-tab(:to="`/@${userData.steemData.name}/contributions`" name="tab-projects" append label="Projects" slot="title")
        q-route-tab(:to="`/@${userData.steemData.name}/followers`", name="tab-followers", append, :label="followerCount + ' followers'", slot="title")
        q-route-tab(:to="`/@${userData.steemData.name}/following`", name="tab-following", append, :label="followingCount + ' following'", slot="title")

  div.main#u-profile-main
    q-page-container.container.q-pt-none
      u-layout-page
        template(slot="meta")
          span.q-title.uppercase.q-pb-md about me
          q-list(separator, multiline).round-borders#u-about-me
            //- q-item(multiline)
            //-   q-item-side(avatar="statics/boy-avatar.png")
            //-   q-item-main
            //-     label="Brunch this weekend? Brunch this weekend? Brunch this weekend?"
            //-     label-lines="1"
            //-     sublabel="John Doe John Doe John Doe John Doe John Doe John Doe John Doe John Doe John Doe"
            //-     sublabel-lines="2"
            //-   q-item-side(right)
            //-     q-item-tile(stamp) 1 week ago
            q-item
              q-item-main
                //- conditional for about me block
                q-item-tile(sublabel, v-if="userData.steemData._about") {{ userData.steemData._about }}
                q-item-tile(sublabel, v-else) There is no information about the user
            //- add conditional for location (if location is empty do not display the block)
            q-item(v-if="userData.steemData._location")
              q-item-side(icon="mdi-map-marker" color="primary")
              q-item-main(:sublabel="userData.steemData._location")

            //- add conditional for website (if website is empty do not display the block)
            q-item.u-no-separator(v-if="website")
              q-item-side(icon="mdi-link" color="primary")
              q-item-main(multiline)
                q-item-tile(sublabel, lines="3")
                  a(:href="website" target="_blank") {{ websiteDisplay }}
        template(slot="main")
          router-view()
