div(v-if="isMounted")
  div.header
    q-parallax(:src="coverImage", :height="300")
      q-page-container.container
        div.row
          img(:src="'https://img.blocker.press/a/' + userData.steemData.name").avatar
          div.user-info.column.justify-center
            div.row.items-center
              span.text-white {{ userData.steemData._name || userData.steemData.name }}
              span(v-if="userData.steemData._reputation").row.user-reputation.content-center.items-center {{ userData.steemData._reputation }}
              q-btn.q-ml-md(color="primary", dense) Follow
            span.text-grey-5.text-weight-light {{ '@' + userData.steemData.name }}
            span.text-white
              a(:href="userData.steemData._meta.profile.website")
    div#u-profile-tabs.container.row
      q-tabs.offset-3.col-9(color="black" inverted v-if="isMounted")
        q-route-tab(:to="`/@${userData.steemData.name}/contributions`", name="tab-contributions", append, label="Contributions", slot="title", default)
        // q-route-tab(:to="`/@${userData.steemData.name}/contributions`" name="tab-projects" append label="Projects" slot="title")
        q-route-tab(:to="`/@${userData.steemData.name}/followers`", name="tab-followers", append, :label="followerCount + ' followers'", slot="title")
        q-route-tab(:to="`/@${userData.steemData.name}/following`", name="tab-following", append, :label="followingCount + ' following'", slot="title")

  div.main#u-profile-main
    q-page-container.container.q-pt-none
      u-layout-page
        template(slot="meta")
          div.row.column
            span.q-title.uppercase.q-pb-md about me
            q-list(separator).row.round-borders#u-about-me
              q-item.col-12
                q-item-main
                  q-item-tile(sublabel) {{ userData.steemData._about }}
              q-item.col-12
                q-item-side(icon="mdi-map-marker" color="primary")
                q-item-main
                  q-item-tile(sublabel) {{ userData.steemData._location }}
              q-item.col-12.u-no-separator
                q-item-side(icon="mdi-link" color="primary")
                q-item-main
                  q-item-tile(sublabel).wrap {{ userData.steemData._meta.profile.website }}
        template(slot="main")
          router-view()
