@import "~variables"

div.header {
  border-bottom solid 1px $grey-3
  background #fff

  blur(50px)

  .avatar {
    height 100px
    width 100px
  }

  .user-info {
    padding 10px 20px
    font-size 25px
  }
  .user-reputation {
    color white
    background $primary
    border none
    line-height 10px
    border-radius 2px
    margin-top -15px
    margin-left 5px
    padding 0 3px
    font-size: 12px
    font-weight 700
    height 20px
  }

  .q-parallax-text {
    text-shadow 0 0 5px $dark
  }

  .q-tabs .q-tabs-bar {
    border-color $primary !important
  }
}


#u-profile-tabs.container {
  padding 0
  padding-left 0px
}

div.main#u-profile-main {
  .q-layout-page-container {
    padding-top 0 !important
  }

  .q-list#u-about-me {
    background-color #fff
    padding 10px
    
    .q-item {
      text-transform none !important
    }

    .u-no-separator {
      border none !important
    }
  }
}

.contributions {
  .u-post-preview {
    background-color #fff !important
    padding 15px
    min-height 234px
    border-top-width 7px !important
    .item-category > span {
      color $grey-6
      font-weight normal
    }
    .q-item-main {
      display flex
      flex-direction column
      justify-content space-between
    }
    .q-item-except {
      max-height none !important
    }
  }
}

.projects {
  .q-card-title {
    line-height 1em
    font-size 1.2em
    color $grey-9
  }
  .q-card-media {
    height 210px
    background-size cover
    background-position center center
  }
  .q-card {
    min-height 420px
    box-shadow none
    border solid 1px #e0e2e5
  }
  .q-card-main {
    font-size 1rem
  }
  .short-description {
    min-height 50px
  }
  .tags {
    white-space word-wrap
    padding-bottom 10px
  }
  .tag {
    color $grey-7 !important
    background-color $grey-3 !important
    border none !important
    margin-right 5px
    &:last-child {
      margin-right 0
    }
  }
  .author {
    display flex
    font-weight 600
    .author-details {
      .name {
        line-height 14px
        font-size 14px
        vertical-align middle
      }
    }
  }
  .avatar {
    margin-right 5px
    img {
      width 28px
      height 28px
      border-radius 4px
    }
  }
}
