div
  div.header.q-pb-lg
    q-parallax(:src="coverImage", :height="300")
      q-page-container.container
        div.row
          img(:src="userProfile.avatar").avatar
          div.user-info.column.justify-center
            div.row
              span.text-white {{ userProfile.name }}
              span.reputation {{ userAccount._reputation }}
            span.text-grey-7.text-weight-light {{ '@' + userAccount.name }}
            // q-btn(color="primary", dense, size="sm") Follow


  div.main
    q-page-container.container
