$dusk = #3e3e65

.text-suggestion {
  color $suggestion
}
.text-development {
  color $development
}
.text-bug {
  color $bug-hunting
}
.text-translations {
  color $translations
}
.text-graphics {
  color $graphics
}
.text-analysis {
  color $analysis
}
.text-documentation {
  color $documentation
}
.text-tutorials {
  color $tutorials
}
.text-video {
  color $video-tutorials
}
.text-copywriting {
  color $copywriting
}
.text-blog {
  color $blog
}