@import "~variables"

div.q-layout-page.u-homepage.u-page-index, main.q-layout-page.u-homepage.page.u-page-index {
  padding: 12px 24px
}

.u-homepage.u-page-index {
  .q-carousel {
    width 577px
  }
  .subheader {
    display flex
    justify-content space-between
    margin-bottom 50px
    a {
      text-decoration none
      color #000
    }
  }
  .projects-slider {
    display flex 
    .project-info {
      .project-card {
        height 100%
        width 100%
        .q-card-title {
          font-size 26px !important
        }
        .q-card-main {
          height 120px
          max-height 120px
        }
      }
      .q-carousel-slide {
        padding 0 !important
      }
      margin-top 50px
      margin-left -100px
      height 273px
      width 341px
      background-color #fff
      z-index 2
    }
  }
  .carousel-arrows {
    margin-top 120px
    display flex
    flex-direction column
    padding-left 25px
    .carousel-arrow {
    }
  }
}

.contributions {
  .u-post-preview {
    background-color #fff !important
    margin-right 20px
    margin-top 20px
    margin-bottom 50px
  }
  .last {
    margin-right 0
  }
}
