@import "~variables"

div.q-layout-page.u-homepage.u-page-index, main.q-layout-page.u-homepage.page.u-page-index {
  padding: 12px 24px
}

.u-homepage.u-page-index {
  .q-carousel {
    width 577px
  }
  .subheader {
    display flex
    justify-content space-between
    margin-bottom 50px
    a {
      text-decoration none
      color #000
    }
  }
  .projects-slider {
    display flex 
    .project-info {
      .project-card {
        height 100%
        width 100%
        .q-card-title {
          font-size 26px !important
        }
        .q-card-main {
          height 120px
          max-height 120px
        }
      }
      .q-carousel-slide {
        padding 0 !important
      }
      margin-top 50px
      margin-left -100px
      height 273px
      width 341px
      background-color #fff
      z-index 2
    }
  }
  .carousel-arrows {
    margin-top 120px
    display flex
    flex-direction column
    padding-left 25px
    .carousel-arrow {
    }
  }
}

.contributions {
  .u-post-preview {
    background-color #fff !important
    margin-top 30px
    padding 15px
    margin-bottom 50px
    min-height 234px
    border-top-width 7px !important
    .item-category > span {
      color $grey-6
      font-weight normal
    }
    .q-item-main {
      display flex
      flex-direction column
      justify-content space-between
    }
    .q-item-except {
      max-height none !important
    }
  }
}

.projects {
  .q-card-title {
    line-height 1em
    font-size 1.2em
    color $grey-9
  }
  .q-card-media {
    height 210px
  }
  .q-card {
    margin-top 30px
    margin-bottom 50px
    height 420px
    box-shadow none
    border solid 1px #e0e2e5
  }
  .q-card-main {
    font-size 1rem
  }
  .short-description {
    height 50px
    max-height 50px
  }
  .tags {
    white-space word-wrap
    padding-bottom 10px
  }
  .tag {
    color $grey-7 !important
    background-color $grey-3 !important
    border none !important
    margin-right 5px
    &:last-child {
      margin-right 0
    }
  }
}

.submit-project {
  padding 0 50px
  background-color #FFF
  margin-bottom 50px
  border solid 1px #e0e2e5
  img {
    height 62px
    margin 24px 0
  }
  .blue-text {
    color $primary
  }
  p {
    margin-left 50px
  }
}