// component wrapper.
div.u-post-author(:class="{ reverse }")
  // text details
  div.author-details
    div.name
      router-link.profile(:to="{ name: 'profile.contributions', params: { username: post.author } }")
      span {{ '@' + post.author }}
    div.reputation
      span {{ post._author_reputation }}
  div.avatar
    img(:src="post._author_avatar")


