@import "~variables"

.u-page-contribution-form {
  .field-editor, .field-preview {
    min-height 400px
    .q-field-content {
      background white
      border  1px solid $neutral
      min-height 400px
      display flex
      justify-content left
      border-radius 2px
    }
  }
  .u-page {
    display flex
    flex-direction column
  }
  .u-tabs-categories {
    background white
    border  1px solid $neutral
    border-radius 2px
    overflow hidden
    .q-icon {
      font-size 30px
    }
    .u-category-icons {
      border 2px solid $grey-1
      border-radius 50%
      height 100px
      width 100px
      margin-bottom 5px
    }
  }
  .side-editor, .side-preview {
    border 1px solid $grey-4
  }
  .side-editor {
    textarea {
      padding 10px
      background white
    }
    .q-input {
      display flex
      height 100%
      width 100%
      justify-content flex-start
      & > *, & > * > * {
        height 100%
        justify-content flex-start
      }
    }
  }
  .editor-container {
    height 100% !important
    width 100% !important
  }

  #details {
    min-height 317px
  }

}
