@import "~variables"

div.q-layout-page.u-page.u-page-index, main.q-layout-page.u-page.u-page-index {
  padding: 12px 24px
}

.q-headline {
  font-family NotoSans
  font-size 20px
  font-weight bold
  line-height 1.4
}

.q-title {
  font-family NotoSans
  font-size 17px
}

input:placeholder, textarea:placeholder {
    vertical-align middle !important
    font-size 12px !important
    font-family NotoSans !important
}


.create-project-form {
  .q-input, .q-chips-input {
    margin 25px 0
    border-radius 2px
    background-color #ffffff
    border solid 1px #e0e2e5;

  }


  .q-btn {
    margin-top 10px
  }
  .q-if-label {
    font-family Lato
    font-size 18px
    font-weight bold
    line-height 1.5
    color #000000
    margin -20px 0 0 0

  }
}
