@import "~variables"

.create-contribution-form {
  .u-tabs-categories {
    background white
    border  1px solid $neutral
    border-radius 2px
    overflow hidden
    .q-icon {
      // font-size 30px
    }
    .u-category-icons {
      border 2px solid $grey-1
      border-radius 50%
      height 100px
      width 100px
      margin-bottom 5px
    }
  }


  #details {
    min-height 317px
  }

}
