u-layout-page.u-page-details(:meta="false")

  template(slot="main")
    div.side-preview(:style="previewStyle", v-if="details")
      div.flex.fit.preview
        div.post-body.markdown-content(v-html="preview")

